{% extends "base.html" %}
{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Home Page for my website</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto laudantium nam vitae, dolorum beatae nihil autem ab consectetur accusamus eos voluptatibus fugiat, deserunt corrupti molestias perspiciatis, aliquid culpa consequatur doloremque!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>
  <div class="jumbotron">
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto laudantium nam vitae, dolorum beatae nihil autem ab consectetur accusamus eos voluptatibus fugiat, deserunt corrupti molestias perspiciatis, aliquid culpa consequatur doloremque!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>
{% endblock %}