{% extends "base.html" %}
{% block head %}
    <title>About Page</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">About Page</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio hic deserunt porro animi quia eligendi, quaerat esse tempora ducimus tempore similique libero? Explicabo quia corrupti vero, vel sed nulla deleniti mollitia sequi. Porro libero quas consectetur tempore, maxime expedita vero repellat culpa doloremque vel quasi placeat ipsam obcaecati officia autem.</p>
    <hr class="my-4">
  </div>
{% endblock %}