{% extends "base.html" %}
{% block head %}
<title>About Page</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">About Page</h1>
    <p class="lead">Fashion is a form of self-expression and autonomy at a particular period and place and in a specific
        context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture. The term implies a
        look defined by the fashion industry as that which is trending.</p>
    <hr class="my-4">
</div>
{% endblock %}